body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

h1.logo {
    padding: 0px 4px 0px 0px;
    text-decoration: none;
    font-size: 48px;
    display: block;
    text-align: center;
    color: #818181;
    line-height: 38px;
    padding-top: 14px;
}

h1.logo span.py {
    padding: 0px 4px 0px 0px;
    text-decoration: none;
    font-size: 48px;
    display: block;
    text-align: center;
    background: -webkit-linear-gradient(left, rgb(24, 102, 249), rgb(217, 217, 29));
    background: -o-linear-gradient(right, rgb(24, 102, 249), rgb(217, 217, 29));
    background: -moz-linear-gradient(right, rgb(24, 102, 249), rgb(217, 217, 29));
    background: linear-gradient(to right, rgb(24, 102, 249) , rgb(217, 217, 29)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position:fixed;
    bottom:0;
    background-color: white;
    border-top:2px solid #111;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 170px; /* Same as the width of the sidebar + 10 */
    margin-right: 32px;
    padding: 0px 0px;
  }
  .content {
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

